:root {
    --link-color: #2196F3;
    --webstudio-color: #000000;
    --color-text-primary: #212121;
    --color-text-secondary: #FFFFFF;
    --color-button: #F5F4FA;
    --hero-button-hover: #188ce8;
    --text: #757575;
    --footer-color: #2F303A;
}

body {
    height: 100%;
    color: var(--color-text-primary);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background: var(--color-text-secondary);
}

.list {
    list-style: none;
    font-size: 14px;
}

/* header - logo and site-nav */
.link {
    text-decoration: none;
    color: var(--color-text-primary);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.link:hover,
.link:focus,
.link.current {
    color: var(--link-color);
}

.site-nav {
    list-style: none;
}

.list .link {
    color: var(--text);
}

.list .link:hover,
.list .link:focus,
.list .link.current {
    color: var(--link-color);
}

.web-color {
    color: var(--link-color);
}

.webstudio {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--webstudio-color);
    text-decoration: none;
}

/* studio */
.hero {
    background: var(--footer-color);
    color: var(--color-text-secondary);
}

.hero-text {
    font-size: 44px;
    line-height: 1.36;
    font-weight: 900;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-button {
    color: var(--color-text-secondary);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--link-color);
}

.hero-button:hover,
.hero-button:focus {
    background: var(--hero-button-hover);
}

.activity-title {
    font-weight: 700;
    font-size: 14px; 
    line-height: 1.42;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-text-primary);
}

.activity-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text);
}

/* team */

.team-bg{
    background: var(--color-button)
}

.bg-team {
    background: var(--color-text-secondary);
}

.team-case {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--color-text-primary);
}

.team {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--color-text-primary);
}

/* portfolio-button */

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.list-style {
    list-style-type: none;
}

.button {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    background: var(--color-button);
    color: var(--color-text-primary);
    border-radius: 4px;
}

.portfolio-button:hover,
.portfolio-button:focus {
    color: var(--color-text-secondary);
    background-color: var(--link-color);
}

/* portfolio about */
.title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--color-text-primary);
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--text);
}

/* footer */
.footer {
    color: var(--color-text-secondary);
    background: var(--footer-color);
}

.addrses {
    font-style: normal;
    font-size: 14px;
}

.white.footer-link,
.footer-white {
    color: var(--color-text-secondary);
}

.footer-link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.footer-link:hover,
.footer-link:focus,
.footer-link.current {
    color: var(--link-color);
}
